# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Databases & cache
vectorstore/
*.db
*.sqlite

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
